.about
	.material-parallax.parallax
		.parallax__image 
			img(src="@@webRoot/img/about/ab-img-01.png" alt="image") 
	._container
		.content-body._content
			._column
				h1._title.h1_01901 В нашей студии:
				._text
					p - описав свой проект, Вы&nbsp;получаете уникальные предложения от&nbsp;ведущих профессионалов. Наймите именно того&nbsp;специалиста, который идеально подходит для&nbsp;воплощения вашей музыкальной идеи!
						span._icon
							i._ellipsis
					._hide-box
						._wrapper
							span - мы понимаем, что&nbsp;талант без&nbsp;правильного оборудования может оставаться скрытым. Именно поэтому мы&nbsp;предлагаем все&nbsp; необходимое для&nbsp;раскрытия вашего потенциала.