.partners._container
	._body
		._title С кем работали
		._content
			.partners-slide
				._body.slide-partners._swiper
					._column 
						._content
							._image 
								img(src="@@webRoot/img/partners/partn_1.png" alt="Игорь Угольников") 
							._title Игорь Угольников
							._text Советский и&nbsp;российский актёр, кинорежиссёр, сценарист, продюсер, телеведущий. 
					._column  
						._content
							._image 
								img(src="@@webRoot/img/partners/partn_2.png" alt="Игорь Угольников") 
								//- img(src="@@webRoot/img/partners/partn_1.png'" alt="Маргарита Калан") 
							._title Маргарита Калан 
							._text Певица, композитор, поэтесса. Родилась в&nbsp;г.&nbsp;Обнинск. Закончив гимназию и&nbsp;муз.школу поступила в&nbsp;МСИ. 
					._column 
						._content 
							._image 
								img(src="@@webRoot/img/partners/partn_3.jpg" alt="Иеромонах Фотий") 
							._title Епископ Иосиф 
							._text Викарий патриарха Московского и&nbsp;всея&nbsp;Руси. Наместник Оптиной пустыни. Церковный историк. 
					._column 
						._content 
							._image 
								img(src="@@webRoot/img/partners/partn_4.jpg" alt="Алексей Егоров") 
							._title Алексей Егоров 
							._text Российский боксер-профессионал, выступающий в&nbsp;первой тяжёлой весовой категории. Мастер спорта. 
					._column
						._content
							._image 
								img(src="@@webRoot/img/partners/partn_6.jpg" alt="Епископ Иосиф")
							._title Иеромонах Фотий 
							._text Победитель телевизионного шоу «Голос». 
					._column 
						._content 
							._image 
								img(src="@@webRoot/img/partners/partn_5.jpg" alt="Александр Яковлев") 
							._title Александр Яковлев 
							._text Российский боксер-профессионал, выступающий в&nbsp;первой тяжёлой весовой категории. Мастер спорта. 
				._pagination 