.categories-service
	.material-parallax.parallax
		.parallax__image 
			img(src="@@webRoot/img/parallax/bg_svg.svg" alt="image")._image-services.bg
	._body.top-box.min-height-vh 
		.services._container 
			._body
				h1._title Текст 
				._content 
					.services-slide 
						._body.slide-services._swiper 
							._column.line 
								a(href="@@webRoot/services/development/dev-sites.html")._content 
									._image.el 
										._svg
											svg(viewBox="0 0 700 430")
												g(fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="8").lines
													style(type="text/css").
														.el {fill: none; stroke: #fff; stroke-width: 8; stroke-miterlimit: 10;}
													path.el(d="M11.6,12.2c69.8,144.5,138.5,245,178.9,277.9c29.8,24.2,60.5,32.7,60.5,32.7c5.6,1.5,31.8,8.4,65.9,3.4c28.1-4.1,47.3-14.2,68-25c34.2-17.9,55.5-37.6,61.9-43.7c13.8-13.2,27.2-26.1,37.4-47.3c3.1-6.4,21.9-46.7,8.9-57.9c-11.3-9.7-41.2,7.2-56.1,18.7c-6.2,4.7-28.1,22.4-41.7,57.6c-16.1,41.8-19.9,107.1,19.3,150.7c6.9,7.7,22.9,23.3,47.8,31.8c36.1,12.3,68.2,1.9,85.1-3.6c6.2-2,28.7-9.7,56-30.5c42.8-32.6,66.8-74.1,79.8-103.9") 
										._picture 
											img(src="@@webRoot/img/cards/development/img_1.png" alt="image-1")
											img(src="@@webRoot/img/cards/bg_img.png" alt="bg-image")._bg-img 
										._text 
											p Разработка сайтов
							._column.line 
								a(href="@@webRoot/services/development/design.html")._content 
									._image.el
										._svg
											svg(viewBox="0 0 700 430")
												g(fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="8").lines
													style(type="text/css").el {fill: none; stroke: #fff; stroke-width: 8; stroke-miterlimit: 10;}
													path.el(d="M696.2,7.5c-34.2,148.6-72,277.8-101.4,275c-33.3-3.2-35.5-173-68.4-175c-43.1-2.6-78.4,285.7-134.4,285C352.4,392,352.9,248,282.5,221.2c-71.8-27.3-181.8,81-278.7,201.2")
										._picture
											img(src="@@webRoot/img/cards/development/img_2.png" alt="image-2")
											img(src="@@webRoot/img/cards/bg_img.png" alt="bg-img")._bg-img 
										._text 
											p Дизайн
							._column.line 
								a(href="@@webRoot/services/development/collections.html")._content 
									._image.el 
										._svg
											svg(viewBox="0 0 700 430")
												g(fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="8" ).lines
													style(type="text/css").el {fill: none; stroke: #fff; stroke-width: 8; stroke-miterlimit: 10;}
													path.el(d="M685.8,108.5c-14.3,4.6-36.4,10.1-63.7,10c-34.6-0.1-61.2-9.1-81-16C496,86.8,493,75,454.9,67.2c-15.6-3.2-34.7-6.9-58.6-1.8c-10,2.1-35.5,7.9-56.8,30c-19.6,20.3-24.8,42.9-28.1,58.9c-2.2,10.5-11.1,58.7,11.6,100.5c3.7,6.8,22.1,40.7,55.1,44c4.3,0.4,29.8,2.4,51-22.4c4.5-5.2,18.1-22.5,21.8-51.1c1.1-8.3,4.7-36.3-8.8-59.2c-3.5-5.9-7.4-10.3-11.3-13.6c-2-1.7-7.2-5.9-16.5-9.7c-7-2.8-25.6-10.3-48.3-5.6c-20.8,4.3-33.7,16.6-41.1,23.7c-19.8,19.2-26.7,40.6-36.8,73.7c-8.9,28.8-7.8,37.4-20.5,76.3c-4.3,13.1-8.7,25.2-17.9,38.7c-6.4,9.3-15.3,22-31.6,30.5c-15.6,8.2-30,8.1-39.6,8.5c-36.8,1.6-63.5-17.6-70-22.4c-28.6-21.5-42.4-51.3-54.4-77.2c-19.6-42.2-25.5-77.6-32.6-118.4c-5-28.5-10.2-67.3-12.2-114")
										._picture 
											img(src="@@webRoot/img/cards/development/img_3.png" alt="image-3")
											img(src="@@webRoot/img/cards/bg_img.png" alt="bg-img")._bg-img 
										._text 
											p Создание сборников
						._pagination.pagination 
	.hr-shelf._containe 
		._content
	include ../chunks/Offer