.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/development/fotoram_bg_02.png" alt="image")
		._body.top-box
			._content._container
				h1._title Дизайн обложек и&nbsp;буклетов
				._description
					h2 Креативный дизайн
					._row
						._row-col
							p 
								+iconfont('hand-pointer', '_icon') 
								| Добро пожаловать в&nbsp;мир креативного дизайна, где&nbsp;каждая деталь имеет значение! Наша команда профессионалов готова воплотить в&nbsp;жизнь ваши самые смелые идеи и&nbsp;создать уникальный дизайн, который будет отражать вашу&nbsp;индивидуальность и&nbsp;стиль
							p 
								+iconfont('hand-pointer', '_icon') 
								| Мы специализируемся на&nbsp;разработке логотипов, брендбуков, упаковке, веб-дизайне и&nbsp;других аспектах визуального оформления. Наш подход основан на&nbsp;глубоком понимании ваших потребностей и&nbsp;постоянном анализе рынка
							p 
								+iconfont('hand-pointer', '_icon') 
								| С нашей помощью ваш&nbsp;бренд станет узнаваемым и&nbsp;запоминающимся, а&nbsp;ваш продукт будет выделяться среди конкурентов. Доверьтесь нам и&nbsp;получите качественный результат, который будет соответствовать самым высоким стандартам
							p 
								+iconfont('hand-pointer', '_icon') 
								| Давайте вместе создадим уникальный дизайн, который будет вдохновлять и&nbsp;радовать вашу аудиторию!
					._row
						._row-col
							h3 Дизайн соц. сетей
							ul 
								li
									+iconfont('check', '_icon')
									| Инстаграм
								li
									+iconfont('check', '_icon')
									| Хайлайты
								li
									+iconfont('check', '_icon')
									| Сетка
								li
									+iconfont('check', '_icon')
									| Анимация
								li
									+iconfont('check', '_icon')
									| Креативы
								li
									+iconfont('check', '_icon')
									| Фотостиль
								li
									+iconfont('check', '_icon')
									| Сторис
							h3 Полиграфия
							ul 
								li
									+iconfont('check', '_icon')
									| Визитка, листовка, буклет, бланк и т.д
								li
									+iconfont('check', '_icon')
									| Сувенирная продукция, мерч
								li
									+iconfont('check', '_icon')
									| Наружная реклама
								li
									+iconfont('check', '_icon')
									| Каталог
								li
									+iconfont('check', '_icon')
									| Этикетка
						._row-col
							h3 Брендинг
							ul 
								li 
									+iconfont('check', '_icon')
									| Нейминг
								li 
									+iconfont('check', '_icon')
									| Платформа бренда
								li 
									+iconfont('check', '_icon')
									| Логотип и&nbsp;фирменный стиль
								li 
									+iconfont('check', '_icon')
									| Гайдбук
								li 
									+iconfont('check', '_icon')
									| Брендбук
								li 
									+iconfont('check', '_icon')
									| Презентация
								li 
									+iconfont('check', '_icon')
									| Коммерческое предложение
							h3 Веб дизайн
							ul 
								li 
									+iconfont('check', '_icon')
									| Лендинг
								li 
									+iconfont('check', '_icon')
									| Интеграция на тильду
								li 
									+iconfont('check', '_icon')
									| Дизайн сайта