.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/development/fotoram_bg_03.png" alt="image")
		._body.top-box
			._content._container
				h1._title Создание сборников
				._description
					._row
						._row-col
							p 
								+iconfont('hand-pointer', '_icon') 
								| Наполните свой мир музыкой с&nbsp;нашими уникальными подборками и&nbsp;плейлистами, созданными специально для&nbsp;вас! Наша команда опытных музыкальных кураторов поможет вам создать идеальный саундтрек для&nbsp;любого случая&nbsp;- будь то&nbsp;романтический вечер, динамичная вечеринка, ресторана ил&nbsp; просто фоновая музыка для&nbsp;работы.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Позвольте нам погрузить вас в&nbsp;мир удивительных звуков и&nbsp;мелодий, которые подчеркнут каждый момент вашей жизни. Наша страсть к&nbsp;музыке отразится в&nbsp;каждом треке, делая ваше прослушивание незабываемым.
					._row
						._row-col
							p 
								+iconfont('musical-notes', '_icon') 
								| Не упустите возможность превратить обыденные моменты в&nbsp;нечто&nbsp;особенное с&nbsp;нашими подборками и&nbsp;плейлистами. Доверьтесь профессионалам и&nbsp;насладитесь музыкой в&nbsp;полной мере. Сделайте заказ прямо сейчас и&nbsp;откройте для&nbsp;себя новые звуки!
							p 
								+iconfont('musical-notes', '_icon')
								| Наши профессиональные кураторы тщательно отбирают треки для&nbsp;каждого плейлиста, учитывая последние тренды и&nbsp;ваше вкусовое предпочтение. Мы&nbsp;предлагаем широкий выбор жанров и&nbsp;стилей музыки, чтобы удовлетворить любой вкус.
						._row-col
							p 
								+iconfont('musical-notes', '_icon')
								| Индивидуальный подход: Мы &nbsp;создаем каждый плейлист с&nbsp;учетом ваших предпочтений, настроения и&nbsp;целей, чтобы&nbsp;предоставить вам&nbsp;уникальный саундтрек, который идеально подходит именно вам.
							p 
								+iconfont('musical-notes', '_icon')
								| Вы можете заказать у&nbsp;нас сборник или&nbsp;плейлист быстро и&nbsp;легко, просто оставив заявку на&nbsp;нашем сайте. Мы&nbsp;гарантируем высокое качество звука и&nbsp;отбор только лучших треков для&nbsp;вашего плейлиста.
							p 
								+iconfont('musical-notes', '_icon')
								| Не упустите возможность создать неповторимую атмосферу в&nbsp;любой ситуации с&nbsp;помощью индивидуального саундтрека, который подчеркнет вашу&nbsp;индивидуальность!