.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/development/fotoram_bg_01.png" alt="image")
		._body.top-box
			._content._container
				h1._title Разработка сайтов
				._description
					h2 Создать сайт любого типа и&nbsp;сложности
					._row
						._row-col
							h3 Типы сайтов:
							ul 
								li 
									+iconfont('check', '_icon')
									| Интернет-магазин;
								li 
									+iconfont('check', '_icon')
									| Корпоративный сайт;
								li 
									+iconfont('check', '_icon')
									| Каталог;
								li 
									+iconfont('check', '_icon')
									| Сайт-визитка.
							p
								+iconfont('hand-pointer', '_icon') 
								| Создание сайта&nbsp;- это&nbsp;возможность произвести хорошее впечатление на пользователей. Мы&nbsp;принимаем решение, нравится нам сайт или&nbsp;нет, всего за&nbsp;10&nbsp;секунд. Поэтому удобство и&nbsp;качество ресурса напрямую влияют на&nbsp;количество онлайн-продаж. Важно поддерживать внимание аудитории, поэтому мы&nbsp;тщательно продумываем структуру сайта, дизайн и&nbsp;контент. В&nbsp;результате сайт способен значительно увеличить поток клиентов
							p
								+iconfont('hand-pointer', '_icon') 
								| Мы предоставляем полный цикл услуг по&nbsp;созданию сайтов: проектирование, разработка мобильного и&nbsp;адаптивного дизайна, интеграция с&nbsp;системами 1С и&nbsp;Битрикс, внедрение различных внешних систем
						._row-col
							h3 Что входит в&nbsp;комплексный подход?
							p
								+iconfont('check', '_icon') 
								| Проект, который решит поставленные бизнес-задачи с&nbsp;учетом особенностей ниши и&nbsp;пользовательского опыта
							p
								+iconfont('check', '_icon') 
								|Адаптивный дизайн. Мы&nbsp;создаем дизайн который нравится вам
							p
								+iconfont('check', '_icon') 
								| Расширенные возможности: стабиль подключения дополнительных сервисов и&nbsp;передачи данных между разными системами
							p
								+iconfont('check', '_icon') 
								| Продвижение сайта: увеличение конверсии, грамотная оптимизация под&nbsp;поисковые системы Яндекс и&nbsp;Google, генерация лидов
							p
								+iconfont('check', '_icon') 
								| Функционал любой сложности
							p
								+iconfont('check', '_icon') 
								| Все наши сайты адаптивные, со&nbsp;встроенным алгоритмом, распознающим устройство и&nbsp;подстраивающим под&nbsp;него необходимый дизайн в&nbsp;точно рассчитанной конфигурации