.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/sound/fotoram_bg_07.png" alt="image")
		._body.top-box
			._content._container
				h1._title Звуковой дизайн
				._description
					._row
						._row-col 
							p 