.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/sound/fotoram_bg_10.png" alt="image")
		._body.top-box
			._content._container
				h1._title Сведение и&nbsp;мастеринг
				._description
					._row
						._row-col 
							h2 Сведение включает в&nbsp;себя:
							ul 
								li 
									+iconfont('check', '_icon')
									P полное сведение дорожек вашего голоса и&nbsp;бита;
								li 
									+iconfont('check', '_icon')
									P тональную коррекцию голоса (auto-tune);
								li 
									+iconfont('check', '_icon')
									P частотную, динамическую и&nbsp;пространственную обработку;
								li 
									+iconfont('check', '_icon')
									P ритмическую коррекцию;
								li 
									+iconfont('check', '_icon')
									P дикторы для&nbsp;аудиокниг;
								li 
									+iconfont('check', '_icon')
									P работу с&nbsp;инструменталом;
								li 
									+iconfont('check', '_icon')
									P саунд-дизайн проекта, создание различных эффектов на&nbsp;голосе.
							h3 Цены:
							ul 
								li 
									+iconfont('check', '_icon')
									p сведение&nbsp;-<span>&nbsp;4990&nbsp;рублей</span>.
								li 
									+iconfont('check', '_icon')
									p за&nbsp;каждую дорожку свыше 15&nbsp;штук&nbsp;-&ensp;<span>490&nbsp;рублей</span>;
						._row-col 
							h2 Мастеринг включает в себя:
							ul 
								li 
									+iconfont('check', '_icon')
									p лимитирование и&nbsp;компрессия финального материала;
								li 
									+iconfont('check', '_icon')
									p эквализация, улучшение стерео;
								li 
									+iconfont('check', '_icon')
									p приведение всего релизу к&nbsp;одному звучанию.
							h3 Цены:
							ul 
								li 
									+iconfont('check', '_icon')
									p мастеринг&nbsp;- <span>2&nbsp;490&nbsp;руб</span>.
							h3 Сроки выполнения:
							ul  
								li 
									+iconfont('check', '_icon')
									p до 5 дней;
								li 
									+iconfont('check', '_icon')
									p 24&nbsp;часа (х2&nbsp;от&nbsp;стоимости&nbsp;услуги)
							h3 Дополнительные услуги:
							ul 
								li 
									+iconfont('check', '_icon')
									p сведение &quot;Online&quot; по&nbsp;видеосвязи&nbsp;- <span>4990 рублей</span>;
								li 
									+iconfont('check', '_icon')
									p мастеринг&nbsp;- <span>2490&nbsp;рублей</span>;
								li 
									+iconfont('check', '_icon')
									p чистка и&nbsp;подготовка проекта&nbsp;- <span>990&nbsp;рублей</span>.
					p._ps Если у&nbsp;вас есть какие-либо вопросы или&nbsp;вы&nbsp;хотите заказать наши услуги, пожалуйста, нажмите кнопку&ensp;
						a(href="#offer")._link.anchor-link &quot;Оставить заявку&quot;&ensp;
						| или&nbsp;свяжитесь с&nbsp;нами в&nbsp;ЛС&nbsp;сообщества.