.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/sound/fotoram_bg_01.png" alt="image")
		._body.top-box
			._content._container
				h1._title Сонграйтинг
				._description
					._row
						._row-col 
							p 
								+iconfont('piano', '_icon')
								| Если вам нужна мелодия для&nbsp;фильма или&nbsp;рекламы на&nbsp;телевидении, наши специалисты создадут ее&nbsp;в&nbsp;соответствии с&nbsp;требованиями заказчика. Мы также можем написать слова и&nbsp;создать музыкальную композицию в&nbsp;радиоформате.
							p 
								+iconfont('piano', '_icon')
								| Наши авторы работают в&nbsp;разных направлениях: от&nbsp;классического до&nbsp;народного и&nbsp;авторского. Мы&nbsp;можем создать музыку для&nbsp;любого проекта, будь то&nbsp;фильм, реклама или&nbsp;корпоративное мероприятие.
							p 
								+iconfont('piano', '_icon')
								| В&nbsp;студии звукозаписи вы&nbsp;можете приобрести готовую песню, заказать создание музыки у&nbsp;профессиональных композиторов и&nbsp;аранжировщиков. Наши музыканты работают в&nbsp;различных жанрах: от&nbsp;популярной эстрады до&nbsp;авангарда. Они могут написать слова и&nbsp;создать музыкальную композицию в&nbsp;любом стиле, от&nbsp;классического до&nbsp;народного и&nbsp;авторского..service-description
	._column 
		._body 
			._content._container
				._description
					h2 Цены на&nbsp;создание песни (песни на&nbsp;заказ, авторские проекты, корпоративные гимны)
					._row
						._row-col 
							h3 
								span Пакет 1&nbsp;- 100&nbsp;000₽
							ul 
								li 
									+iconfont('check', '_icon')
									p написание текста 
								li 
									+iconfont('check', '_icon')
									p написание мелодии
								li 
									+iconfont('check', '_icon')
									p авторская аранжировка&ensp; 
										span (до&nbsp;40&nbsp;дорожек) 
								li 
									+iconfont('check', '_icon')
									p звукозапись
								li 
									+iconfont('check', '_icon')
									p мастеринг и&nbsp;сведение
								li 
									+iconfont('check', '_icon')
									p передача авторских прав
								li 
									+iconfont('check', '_icon')
									p до 3&nbsp;правок
						._row-col 
							h3 
								span Пакет 2&nbsp;- 125&nbsp;000₽
							ul 
								li 
									+iconfont('check', '_icon')
									p написание текста
								li 
									+iconfont('check', '_icon')
									p написание мелодии
								li 
									+iconfont('check', '_icon')
									p авторская аранжировка&ensp;
										span (до&nbsp;60&nbsp;дорожек)
								li 
									+iconfont('check', '_icon')
									p бек вокалисты
								li 
									+iconfont('check', '_icon')
									p звукозапись
								li 
									+iconfont('check', '_icon')
									p сведение и&nbsp;мастеринг
								li 
									+iconfont('check', '_icon')
									p дизайн обложки 
								li 
									+iconfont('check', '_icon')
									| дистрибуция на&nbsp;цифровые площадки
								li 
									+iconfont('check', '_icon')
									p передача авторских прав
								li 
									+iconfont('check', '_icon')
									p до&nbsp;5&nbsp;правок
						._row-col 
							h3 
								span Пакет 3&nbsp;- 200&nbsp;000₽
							ul 
								li 
									+iconfont('check', '_icon')
									p написание текста
								li 
									+iconfont('check', '_icon')
									| написание мелодии
								li 
									+iconfont('check', '_icon')
									p авторская аранжировка&ensp;
										span (до&nbsp;100&nbsp;дорожек)&ensp; 
										| живые инструменты
								li 
									+iconfont('check', '_icon')
									p сессионные музыканты
								li 
									+iconfont('check', '_icon')
									p бек вокалисты
								li 
									+iconfont('check', '_icon')
									p звукозапись
								li 
									+iconfont('check', '_icon')
									p сведение и мастеринг
								li 
									+iconfont('check', '_icon')
									p дизайн обложки
								li 
									+iconfont('check', '_icon')
									p дистрибуция на&nbsp;цифровые площадки
								li 
									+iconfont('check', '_icon')
									p съемка видео Reels для&nbsp;презентация релиза
								li 
									+iconfont('check', '_icon')
									p передача авторских прав
								li 
									+iconfont('check', '_icon')
									p правки без&nbsp;ограничений