.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/sound/fotoram_bg_04.png" alt="image")
		._body.top-box
			._content._container
				h1._title Дистрибуция
				._description
					._row
						._row-col 
							h2 Что от Вас нужно? 
							p 
								+iconfont('hand-pointer', '_icon')
								| Прежде всего, необходимо подготовить материал, который будет соответствовать требованиям качества для&nbsp;радио и&nbsp;музыкальных площадок. Это&nbsp;может быть сведённый и&nbsp;отмастеринговый материал.
							p 
								+iconfont('hand-pointer', '_icon')
								| Загрузите файлы вашего проекта на&nbsp;Яндекс или&nbsp;Google диск и&nbsp;предоставьте ссылку с&nbsp;открытым доступом к&nbsp;заказу.
							p 
								+iconfont('hand-pointer', '_icon')
								| Внесите информацию о&nbsp;релизе в&nbsp;форму и укажите дату его выхода на&nbsp;площадки.
							p 
								+iconfont('hand-pointer', '_icon')
								| Ожидайте появления вашего релиза на&nbsp;всех официальных площадках страны и&nbsp;мира в&nbsp;назначенный день.
					._row
						._row-col 
							h3 Стоимость услуг:
							ul 
								li 
									+iconfont('check', '_icon')
									p выгрузка трека на&nbsp;площадки&nbsp;— <span>1500&nbsp;рублей</span>;
								li 
									+iconfont('check', '_icon')
									p высокая доходность от&nbsp;прослушиваний;
								li 
									+iconfont('check', '_icon')
									p круглосуточная поддержка менеджера;
								li 
									+iconfont('check', '_icon')
									p страница со&nbsp;ссылками уже включена в&nbsp;стоимость;
								li 
									+iconfont('check', '_icon')
									p оперативное размещение релиза.
						._row-col 
							h3 Дополнительные услуги:
							ul 
								li 
									+iconfont('check', '_icon')
									p обложка от&nbsp;<span>1000&nbsp;рублей</span>;
								li 
									+iconfont('check', '_icon')
									p анимация обложки от&nbsp; <span>5000&nbsp;рублей</span>;
								li 
									+iconfont('check', '_icon')
									p составление пресс релиза и&nbsp;питчинг&ensp;<span>по&nbsp;договоренности</span>;
								li 
									+iconfont('check', '_icon')
									p размещение в&ensp;плейлистах&ensp;<span>по&nbsp;договоренности</span>
	._column 
		._body 
			._content._container
				._description
					h2 Преимущества
					._row
						._row-col 
							h3
								+iconfont('volume-high', '_icon')
								| Дистрибуция музыки по&nbsp;всему миру
							p 
								+iconfont('hand-pointer', '_icon')
								| Мы предоставляем качественный и&nbsp;эффективный сервис дистрибуции музыки без&nbsp;абонентской платы или&nbsp;сборов за&nbsp;доставку контента, позволяя вам оставаться независимыми и контролировать свое творчество. Обратитесь к&nbsp;нам, чтобы получить максимальную отдачу от&nbsp;вашей музыки и&nbsp;продвинуться на&nbsp;пути к&nbsp;успеху.
							h3 Поддержка клиентов
							p 
								+iconfont('hand-pointer', '_icon')
								| Загрузите файлы вашего проекта на&nbsp;Яндекс или&nbsp;Google диск и&nbsp;предоставьте ссылку с&nbsp;открытым доступом к&nbsp;заказу
							p 
								+iconfont('hand-pointer', '_icon')
								| Мы готовы помочь вам разобраться во&nbsp;всех тонкостях подготовки релизов к&nbsp;публикации.
							h3 Доставка альбомов
							p 
								+iconfont('hand-pointer', '_icon')
								| Мы распространяем вашу музыку на&nbsp;всех актуальных цифровых площадках.
						._row-col 
							h3 Питчинг релизов
							p 
								+iconfont('hand-pointer', '_icon')
								| Отправляет ваши треки редакторам площадок для&nbsp;последующего попадания в&nbsp;плейлисты и&nbsp;на&nbsp;витрины сервисов. Чтобы попасть в&nbsp;рассылку, необходимо загрузить релиз хотя бы&nbsp;за 14&nbsp;дней до&nbsp;даты выпуска и&nbsp;подготовить небольшое писание, именно от&nbsp;него зависит, будет ли&nbsp;ваш материал замечен.
							h3 Контроль качества
							p 
								+iconfont('hand-pointer', '_icon')
								| Мы помогаем вам соблюдать требования к&nbsp;оформлению музыкальных альбомов, чтобы&nbsp;ваша музыка выглядела профессионально и&nbsp;привлекательно для&nbsp;слушателей.
							h3 Авторские права
							p 
								+iconfont('hand-pointer', '_icon')
								| Мы помогаем защитить ваши авторские права&nbsp;с помощью систем идентификации контента, чтобы ваша музыка оставалась уникальной и&nbsp;защищенной от&nbsp;копирования.