.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/sound/fotoram_bg_02.png" alt="image")
		._body.top-box
			._content._container
				h1._title Звукозапись
				._description
					._row
						._row-col 
							p 
								+iconfont('volume-high', '_icon')
								| Самой востребованной услугой в студии является запись голоса. Сегодня мы подробнее расскажем о&nbsp;ней. Вы включаете радио и слышите идеально записанные голоса, четкие попадания в&nbsp;ноты и&nbsp;потрясающий вокал. Этого звучания можно добиться при записи в&nbsp;профессиональной студии.
							p 
								+iconfont('volume-high', '_icon')
								| Когда вы приходите в студию, вы платите деньги за&nbsp;определенные вещи. Например, за дорогостоящее оборудование и&nbsp;опыт профессионалов. Вам гораздо проще и&nbsp;удобнее прийти в&nbsp;студию, записать свой голос и&nbsp;быстро получить готовый результат, чем&nbsp;собирать &quot;железо&quot;, изолировать свою студию, учиться ей пользоваться, а&nbsp;потом тратить годы на&nbsp;изучение элементарных навыков звукорежиссуры. И&nbsp;даже это не&nbsp;дает гарантий, что&nbsp;ваш голос будет звучать действительно хорошо. Поэтому поверьте, деньги, которые вы платите за&nbsp;запись и&nbsp;обработку вашего голоса в&nbsp;студии, - это ничто по&nbsp;сравнению с&nbsp;тем, если&nbsp;бы вы занимались этим самостоятельно.
							p 
								+iconfont('volume-high', '_icon')
								| Атмосфера в&nbsp;студии всегда располагает к&nbsp;творчеству. В&nbsp;окружении всевозможных инструментов и&nbsp;оборудования студии вы погружаетесь в&nbsp;особое состояние, которое сначала может пугать и заставлять вас волноваться, но со&nbsp;временем вы научитесь этим пользоваться и&nbsp;направлять свое эмоциональное состояние в&nbsp;нужное русло. Да, вы будете волноваться, стоя в&nbsp;вокальной комнате перед микрофоном, но&nbsp;скоро вы освоитесь и&nbsp;поймете, какая на&nbsp;самом деле непринужденная обстановка царит в&nbsp;студии звукозаписи.
							p 
								+iconfont('volume-high', '_icon')
								| Вы платите исключительно за&nbsp;время работы на&nbsp;студии. Сюда входят все виды работ. Неважно, это&nbsp;сведение, мастеринг песни, тюнинг вокала (т.е. правка не совсем правильного интонирования) или чистка шумов. Оплата рассчитывается исключительно по&nbsp;времени, которое было затрачено на&nbsp;ваш проект. Если вам нужна запись голоса на&nbsp;студии, обращайтесь к нам!