.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/sound/fotoram_bg_09.png" alt="image")
		._body.top-box
			._content._container
				h1._title Продвижение артистов
				._description
					._row
						._row-col 
							h2 Таргетированная реклама
							p 
								+iconfont('hand-pointer', '_icon')
								<span>Таргетированная реклама</span>&nbsp;для&nbsp;артистов&nbsp;— платный инструмент онлайн-маркетинга, который даёт возможность показывать рекламные объявления интересующей аудитории. При&nbsp;этом можно задавать ограничения по&nbsp;различным параметрам: от&nbsp;пола, возраста&nbsp;геолокации до&nbsp;интересов потенциального слушателя.
							h3 Некоторые цели таргетированной рекламы для&nbsp;артистов:
							ul 
								li 
									+iconfont('check', '_icon')
									| рост знаний об&nbsp;артисте и&nbsp;его релизах. Можно расширять аудиторию, показывая объявления тем, кто&nbsp;ещё не&nbsp;знаком с&nbsp;творчеством, а&nbsp;также информировать уже&nbsp;имеющуюся аудиторию о&nbsp;выходе нового релиза;
								li 
									+iconfont('check', '_icon')
									| увеличение количества прослушиваний. Если&nbsp;артист опубликовал новый релиз, он&nbsp;может рассказать об&nbsp;этом в&nbsp;соцсетях с помощью рекламы&nbsp;— сегодня артистам доступны рекламные форматы, которые позволяют слушать треки прямо внутри объявления;
								li 
									+iconfont('check', '_icon')
									| продажа мерча или&nbsp;билетов на концерты. Если артист едет в&nbsp;тур, он&nbsp;может рассказать жителям нужных городов и&nbsp;областей о&nbsp;предстоящих концертах.
							h3 Таргетированная реклама включает в&nbsp;себя:
							ul 
								li 
									+iconfont('check', '_icon')
									| поиск и&nbsp;анализ целевой аудитории;
								li 
									+iconfont('check', '_icon')
									| подбор визуальных материалов для&nbsp;рекламы;
								li 
									+iconfont('check', '_icon')
									| предоставление персонального менеджера;
								li 
									+iconfont('check', '_icon')
									| ежедневные отчёты и&nbsp;аналитика;
								li 
									+iconfont('check', '_icon')
									| ведение таргетированной рекламы.
						._row-col 
							h2 Питчинг релиза: путь к успеху в&nbsp;мире музыки 
							p 
								+iconfont('hand-pointer', '_icon')
								<span>Питчинг релиза</span>&nbsp;— это&nbsp;не&nbsp;просто представление музыкального материала, это&nbsp;возможность получить поддержку и&nbsp;продвижение, которые могут вывести карьеру на&nbsp;новый уровень. В этой статье мы&nbsp;подробно расскажем о&nbsp;том, как грамотно провести питчинг, чтобы&nbsp;ваши песни были замечены и&nbsp;оценены профессионалами.
							h3 Этапы грамотного питчинга.
							p Успешный питчинг включает в&nbsp;себя несколько важных этапов.
							p 
								+iconfont('hand-pointer', '_icon')
								<span>Подготовка</span>: отгружать трек на&nbsp;музыкальные площадки следует за&nbsp;3–4&nbsp;недели до&nbsp;релиза. Например, если&nbsp;релиз запланирован на&nbsp;21&nbsp;сентября, то&nbsp;уже к&nbsp;24 августа&nbsp;у вас должны быть готовы мастер-трек, финальная версия обложки, текст песни и&nbsp;её&nbsp;название.
							p 
							+iconfont('hand-pointer', '_icon')
							<span>Заполнение маркетинговой анкеты</span>: эта анкета содержит подробную информацию об&nbsp;артисте, описание трека, его&nbsp;жанр или&nbsp;направление, достижения артиста, настроение песни и&nbsp;другие важные данные. Также необходимо указать подробный медиаплан, в&nbsp;котором будут прописаны все&nbsp;рекламные инструменты, которые вы&nbsp;планируете использовать для&nbsp;продвижения трека, и&nbsp;размер рекламных бюджетов на&nbsp;каждый из&nbsp;них.