.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/sound/fotoram_bg_08.png" alt="image")
		._body.top-box
			._content._container
				h1._title Дикторская озвучка
				._description
					._row
						._row-col 
							p 
								+iconfont('hand-pointer', '_icon')
								| Если Вы еще не&nbsp;сталкивались с&nbsp;такой задачей как&nbsp;дикторская запись, то&nbsp;Вы не&nbsp;представляете, насколько это&nbsp;кропотливый процесс. Постараюсь вкратце рассказать, что&nbsp;из&nbsp;себя представляет дикторская речь и&nbsp;как ее&nbsp;записать.
							p 
								+iconfont('hand-pointer', '_icon')
								| За записью дикторской речи к&nbsp;нам обращаются для озвучки рекламы, озвучки фильмов, передач, записи подкастов (современных аналогов радиопередач) и&nbsp;так&nbsp;далее. Наверняка Вы обращали внимание, что&nbsp;ведущие большинства передач обладают отличным произношением и&nbsp;приятным голосом и&nbsp;их&nbsp;хочется слушать. А бывают случаи, когда&nbsp;с&nbsp;первых слов Вам&nbsp;хочется переключиться на&nbsp;что-то&nbsp;другое. От качества чтения текста сильно зависит восприятие слушателя.
							p 
								+iconfont('hand-pointer', '_icon')
								| Как и&nbsp;в&nbsp;любом другом деле, в&nbsp;отработке дикторских навыков нужно много времени и&nbsp;упорство. Нельзя получить качественную запись, если&nbsp;вы&nbsp;никогда не&nbsp;занимались ею. Профессиональные дикторы оттачивают свои навыки годами и&nbsp;их&nbsp;услугами пользуются ведущие каналы и&nbsp;передачи. Вы замечали, что&nbsp;у&nbsp;каждого телевизионного канала есть свой голос? Это&nbsp;может быть голос непосредственно диктора или&nbsp;ключевого ведущего, но&nbsp;факт в&nbsp;том, что&nbsp;Вы сразу узнаете голос этого на&nbsp;нужный лад.
							p 
								+iconfont('hand-pointer', '_icon')
								| Если вы&nbsp;— профессиональный или&nbsp;начинающий диктор, и&nbsp;вам нужны услуги звукозаписи, мы&nbsp;с&nbsp;радостью запишем ваш&nbsp;голос.
								| Дикторская запись в&nbsp;студии.
						._row-col 
							h2 Приведем несколько советов, которые помогут как &nbsp;новичкам, так&nbsp;и&nbsp;опытным дикторам.
							p 
								+iconfont('hand-pointer', '_icon')
								| Приходите в&nbsp;студию подготовленными. Стоить потратить время на&nbsp;отработку нужного текста дома и&nbsp;попробовать слушать себя в&nbsp;записи (воспользуйтесь для&nbsp;этого хотя&nbsp;бы&nbsp;диктофоном в&nbsp;своем мобильном устройстве). Вы&nbsp;должны быть готовы на&nbsp;110%, чтобы&nbsp;во&nbsp;время записи в&nbsp;студии не&nbsp;возникло никаких проблем.
							p 
								+iconfont('hand-pointer', '_icon')
								| Берегите свой голос. В&nbsp;день записи стоит воздержаться от&nbsp;употребления алкоголя, сладкого, жирного, острого и&nbsp;сильно соленого. Также&nbsp;не&nbsp;стоит курить. Перед&nbsp;записью, разогрейте свой голос, сделав необходимые упражнения.
							p 
								+iconfont('hand-pointer', '_icon')
								| Не волнуйтесь. В&nbsp;некоторых студиях к&nbsp;клиентам относятся так, что&nbsp;они, стоя перед микрофоном, чувствуют себя не&nbsp;в&nbsp;своей тарелке. Этот момент очень индивидуален у&nbsp;каждого человека, но&nbsp;мы очень стараемся «подружится» с&nbsp;каждым нашим артистом, чтобы&nbsp;тот &nbsp;мог расслабиться и&nbsp;получать удовольствие, хорошо выполняя свою работу.
							._ps Так же в нашей студии можно пройти курсы актера дубляжа, проработать свои способности на&nbsp;уроках ораторского искусства с&nbsp;нашим профессиональным педагогом. Скачать презентацию можно по&nbsp;ссылке&nbsp;- 
								a(target="_blanck" href="@@webRoot/img/documents/pr-do.pdf")._link  Основы дикторского мастерства.
	._column 
		._body
			._content._container
				h1._title Дубляж
				._description
					._row
						._row-col 
							p 
								+iconfont('hand-pointer', '_icon')
								| Обратившись к&nbsp;нам, чтобы&nbsp;озвучить рекламу, вы&nbsp;непременно останетесь довольны! Мы&nbsp;работаем до&nbsp;достижения наивысшего результата. Мы&nbsp;поможем Вам&nbsp;подобрать:
								ul 
									li 
										+iconfont('check', '_icon')
										| женские голоса:
									li 
										+iconfont('check', '_icon')
										| мужские голоса;
									li 
										+iconfont('check', '_icon')
										| детские голоса;
									li 
										+iconfont('check', '_icon')
										| иностранные голоса;
									li 
										+iconfont('check', '_icon')
										| дикторы для аудиокниг;
									li 
										+iconfont('check', '_icon')
										| пародийные голоса.
					._row
						._row-col 
							h2 Студийная дикторская озвучка ролика
							p В&nbsp;студии установлено оборудование современного уровня, а&nbsp;режиссеры работают на&nbsp;новейшем программном обеспечении. Таким образом, мы&nbsp;достигаем идеального качества аудиодорожки, где&nbsp;исключены звуковые артефакты (призвуки, помехи, и&nbsp;тому подобные дефекты).
					._row
						._row-col 
							p 
								+iconfont('hand-pointer', '_icon')
								| Озвучивание отличается для&nbsp;каждого конкретного проекта:
							ul 
								li 
									+iconfont('check', '_icon')
									| реклама;
								li 
									+iconfont('check', '_icon')
									| аудиокниги;
								li 
									+iconfont('check', '_icon')
									| дубляж фильма или сериала;
								li 
									+iconfont('check', '_icon')
									| игровые аудиоролики;
								li 
									+iconfont('check', '_icon')
									| аудиогиды; 
						._row-col 
							p 
								+iconfont('hand-pointer', '_icon')
								| Предлагаем заказать голос диктора для&nbsp;мужской, женской и&nbsp;детской озвучки ролика.
								ul 
									li 
									+iconfont('check', '_icon')
									| актеры дубляжа;
									li 
									+iconfont('check', '_icon')
									| рекламные исполнители;
									li 
									+iconfont('check', '_icon')
									| чтецы аудиокниг, саммари;
									li 
									+iconfont('check', '_icon')
									| пародисты;
									li 
									+iconfont('check', '_icon')
									| специалисты закадровой озвучки;
									li 
									+iconfont('check', '_icon')
									| вокалисты.