.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/sound/fotoram_bg_06.png" alt="image")
		._body.top-box
			._content._container
				h1._title Сессионные музыканты
				._description
					._row
						._row-col 
							p 
								span Сессионный музыкант, 
								| как&nbsp;следует из&nbsp;названия, это&nbsp;профессионал, который принимает участие в&nbsp;записи на&nbsp;определенный период времени. Он&nbsp;обладает большим опытом в&nbsp;звукозаписи и&nbsp;помогает сделать звук более живым и&nbsp;насыщенным, добавляя интересные музыкальные партии. 
							p 
								+iconfont('hand-pointer', '_icon')
								| Если у&nbsp;вас есть своя группа, услуги сессионных музыкантов могут пригодиться, чтобы привнести изюминку в&nbsp;привычное звучание. Например, вы&nbsp;понимаете, что в&nbsp;конкретный трек органично впишется саксофон, но&nbsp;не&nbsp;готовы брать постоянного музыканта на&nbsp;полную ставку ради одной композиции. В&nbsp;таком случае сессионный исполнитель может стать подходящим решением.
							p 
								+iconfont('hand-pointer', '_icon')
								| Кроме того, временный музыкант может помочь улучшить мастерство постоянных участников группы, поделиться своими находками и&nbsp;фишками. Опытный сессионный исполнитель часто становится дополнительной профессиональной поддержкой. Он&nbsp;может предложить свежие идеи для&nbsp;аранжировки, когда у&nbsp;остальных музыкантов уже &ldquo;замылился&ldquo; слух.
						._row-col 
							h3 Сколько стоят услуги сессионных музыкантов?
							p Цена за 
								<span>1 час </span>работы сессионного музыканта начинается <span>от 3000 рублей</span>. Работы звукорежиссера и&nbsp;техническая подготовка записи инструментов оплачиваются отдельно.
							p 
								+iconfont('guitar-line', '_icon')
								| Мы сотрудничаем со&nbsp;многими сессионными музыкантами, поэтому вы&nbsp;можете выбрать практически любой инструмент от&nbsp;барабанов и&nbsp;скрипки до&nbsp;дудка.
							p 
								+iconfont('guitar-line', '_icon')
								| Акустическая и&nbsp;электрическая гитары, укулеле, балалайка, скрипка и&nbsp;другие инструменты.
							p 
								+iconfont('guitar-line', '_icon')
								| Труба, флейта, кларнет и&nbsp;другие инструменты.
							p 
								+iconfont('guitar-line', '_icon')
								| Барабаны, гонг, ханг, ксилофон и&nbsp;другие инструменты..service-description 
					._row
						._row-col 
							h2 Плюсы использования сессионных музыкантов
							p 
								+iconfont('hand-pointer', '_icon')
								| Некоторые люди могут прийти со&nbsp;своим соседом-гитаристом, чтобы он&nbsp;наиграл им&nbsp;нужную мелодию, но&nbsp;это может повлечь за собой дополнительные траты на&nbsp;аренду студии, так&nbsp;как человек может растеряться во&nbsp;время записи. Профессиональный сессионный музыкант – это &quot;сыгранный&quot; специалист, который знает инструмент, студию и&nbsp;правильное расположение инструмента в&nbsp;данном помещении (в каждой студии свое акустическое оформление, поэтому новому артисту и&nbsp;музыканту понадобится время, чтобы&nbsp;освоиться в&nbsp;новом помещении и&nbsp;поймать правильный звук).
							p 
								+iconfont('hand-pointer', '_icon') 
								| Говоря проще, сессионный музыкант поможет сэкономить деньги на&nbsp;аренде студии за&nbsp;счет того, что&nbsp;быстро и&nbsp;сходу сыграет нужную мелодию, так&nbsp;как в совершенстве знает нотную грамоту. Особенно быстро это&nbsp;получится сделать, если сессионный музыкант постоянно работает при&nbsp;студии, а&nbsp;не&nbsp;является случайным музыкантом, взятым напрокат из&nbsp;интернета, как&nbsp;электрик на&nbsp;Avito.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Профессиональный сессионный музыкант также может предложить интересные идеи по&nbsp;реализации песни (аранжировке), что&nbsp;также может пойти на&nbsp;пользу треку. Зачастую у&nbsp;артистов &quot;замыливается&quot; слух, и&nbsp;им трудно понять, что&nbsp;же&nbsp;лучше сделать в&nbsp;песне. В&nbsp;случае с&nbsp;сессионным музыкантом есть дополнительная профессиональная поддержка.