.about-company 
	._column.el-1
		._body
			._title КОМПАНИЯ 
			._text 
				p Наша медиа-группа представляет собой превосходную студию звукозаписи и продюсерскую компанию. Мы&nbsp;специализируемся на создании текстов, продюсировании, звукозаписи и&nbsp;развитии талантов. Готовы к&nbsp;сотрудничеству с&nbsp;вами в&nbsp;любое время.
				p Мы признаём и ценим значимость каждого проекта. Наше обязательство - обеспечить высочайшее качество звукозаписи, гибкость и&nbsp;терпение, необходимые для&nbsp;достижения вами высокого уровня в&nbsp;конкурентной среде современного рынка.</p>
				p В нашей студии вас ждёт дружелюбная и&nbsp;уютная атмосфера, создающая идеальное окружение для&nbsp;раскрытия вашего таланта и&nbsp;создания ваших лучших произведений. 
		._footer 
			a(href="@@webRoot/about.html").about-company__button.btn-grad читать всё
	._column.el-2 
		._body 
			._title СЕРВИС 
			._item-services 
				i.icon-microphone 
				span Мы предлагаем услуги аналоговой и цифровой записи, а&nbsp;также микширования в&nbsp;широком спектре жанров. 
			._item-services 
				i.icon-fast-forward 
				span Наша студия привлекает великолепным интерьером и&nbsp;оборудованными комфортабельными помещениями, идеально подходящими для&nbsp;создания лучших произведений.
			._item-services 
				i.icon-music 
				span В нашей студии мы внедряем передовое оборудование и&nbsp;программное обеспечение для&nbsp;микширования, обеспечивая высочайшее качество звучания ваших треков. Ваше творчество&nbsp;- наш приоритет. 
		._footer 
			a(href="@@webRoot/services.html" type="button")._button.btn-grad читать всё 
	._column.el-3
		._body
			._title НАША КОМАНДА 
			.team-mates._team-items 
				ul._list
					li
						._image 
							img(src="@@webRoot/img/teammates/team-1.png" alt="image")
					li
						._name Георгий Дудунов 
						._text 
							p Георгий - основатель студии и&nbsp;ведущий звукорежиссер. Инженер. 
				ul._list 
					li
						._image 
							img(src="@@webRoot/img/teammates/team-2.png" alt="image")
					li
						._name Ryan Gosling 
						._text 
							p Райан - ассистент звукорежиссера в&nbsp;студии звукозаписи.
				ul._list 
					li 
						._image 
							img(src="@@webRoot/img/teammates/team-3.png" alt="image") 
					li
						._name Ryan Gosling
						._text 
							p Райан - ассистент звукорежиссера в&nbsp;студии звукозаписи. 
				ul._list
					li
						._image 
							img(src="@@webRoot/img/teammates/team-4.png" alt="image") 
					li 
						._name Маргарита Калан 
						._text 
							p Певица, композитор, поэтесса. 