.showreel._container
	._body
		._title Наше портфолио 
		.showreel-slide
			._wrapper 
				._body.slide-showreel._swiper
					._column 
						._video
							iframe(src="https://vk.com/video_ext.php?oid=-34047302&id=456239292&hash=2f100df0a860db2a" width="100%" height="340" frameborder="0",allowfullscreen, allow="autoplay; encrypted-media; fullscreen; picture-in-picture").video-js.showreel-video.vk-video
					._column 
						._video
							iframe(src="https://vk.com/video_ext.php?oid=-34959880&id=456239710&hash=8a89eaf20743c9c9" width="100%" height="340" frameborder="0",allowfullscreen, allow="autoplay; encrypted-media; fullscreen; picture-in-picture")
					._column 
						._video
							iframe(src="https://vk.com/video_ext.php?oid=-34047302&id=456239287&hash=d8c3c019a7cd34aa" width="100%" height="340" frameborder="0",allowfullscreen, allow="autoplay; encrypted-media; fullscreen; picture-in-picture").video-js.showreel-video.vk-video
					._column 
						._video
							iframe(src="https://vk.com/video_ext.php?oid=-34047302&id=456239285&hash=664e9ec53dc0a682" width="100%" height="340" frameborder="0",allowfullscreen, allow="autoplay; encrypted-media; fullscreen; picture-in-picture").video-js.showreel-video.vk-video
					._column 
						._video
							iframe(src="https://vk.com/video_ext.php?oid=-34047302&id=456239279&hash=139d67525d1fe5b5" width="100%" height="340" frameborder="0",allowfullscreen, allow="autoplay; encrypted-media; fullscreen; picture-in-picture").video-js.showreel-video.vk-video
					._column 
						._video
							iframe(src="https://vk.com/video_ext.php?oid=-34047302&id=456239276&hash=c1ee23d82130e523" width="100%" height="340" frameborder="0",allowfullscreen, allow="autoplay; encrypted-media; fullscreen; picture-in-picture").video-js.showreel-video.vk-video
					._column 
						._video
							iframe(src="https://vk.com/video_ext.php?oid=-34047302&id=456239273&hash=b0edd8188dbe2868" width="100%" height="360" frameborder="0",allowfullscreen, allow="autoplay; encrypted-media; fullscreen; picture-in-picture").video-js.showreel-video.vk-video
					._column 
						._video
							iframe(src="https://vk.com/video_ext.php?oid=-34047302&id=456239271&hash=6456c0259d102a05" width="100%" height="360" frameborder="0",allowfullscreen, allow="autoplay; encrypted-media; fullscreen; picture-in-picture").video-js.showreel-video.vk-video
					._column 
						._video
							iframe(src="https://vk.com/video_ext.php?oid=-34047302&id=456239262&hash=1fadd2ef5517a804" width="100%" height="360" frameborder="0",allowfullscreen, allow="autoplay; encrypted-media; fullscreen; picture-in-picture").video-js.showreel-video.vk-video 
				._prev 
					+iconfont('angle-left', '_icon') 
				._next  
					+iconfont('angle-right', '_icon') 
			._pagination.pagination 