.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/text/fotoram_bg_02.png" alt="image")
		._body.top-box
			._content._container
				h1._title Написание сценариев
				._description
					._row
						._row-col
							h2 Полное написание сценария
							p
								+iconfont('hand-pointer', '_icon')
								| Мы можем написать сценарий на&nbsp;основе вашей или&nbsp;нашей оригинальной идеи. Согласовывая с&nbsp;вами каждый этап разработки, мы&nbsp;создадим уникальный сценарий, который будет соответствовать всем вашим требованиям.

							h2 Детальный анализ имеющейся работы
							p
								+iconfont('hand-pointer', '_icon') 
								| Мы проведем детальный анализ вашей работы и&nbsp;найдем сильные и &nbsp;слабые стороны. Мы подскажем, как&nbsp;их&nbsp;исправить, и&nbsp;выдадим профессиональную оценку всех нюансов сценария по&nbsp;широкому ряду критериев.

							h2 Работа над персонажами
							p
								+iconfont('hand-pointer', '_icon')
								| Мы проведем глубокую функциональную и&nbsp;графическую разработку или&nbsp;доработку персонажей.

						._row-col
							h2 Переработка или доработка
							p
								+iconfont('hand-pointer', '_icon')
								| Мы можем переработать или доработать готовый или&nbsp;частично готовый сценарий, книгу или&nbsp;идею. Мы доработаем ваш&nbsp;материал до&nbsp;совершенства в&nbsp;рамках поставленных задач, при&nbsp;этом сохранив авторство оригинала.

							h2 Производство презентации проекта
							p
								+iconfont('hand-pointer', '_icon')
								| Мы создадим графическую презентацию высочайшего качества, с&nbsp;помощью которой вы&nbsp;сможете солидно и&nbsp;емко представить предстоящий проект партнерам и&nbsp;сотрудникам.
