.footer
	._content
		._info._container
			include ../chunks/about-company
			._help.el-4
				a(href="@@webRoot/about.html").about.html 
					i.icon-achievements 
				a(href="tel:++79106044424")
					i.icon-services 
				a(href="mailto:studio@obninsk-gusli.ru")
					i.icon-contacts 
		.contacts._contacts.el-5#contacts
			._container 
				._items
					._item 
						i.icon-location 
						._text 
							p Россия, Калужская область,&nbsp;г.&nbsp;Обнинск, 
							p Проспект Ленина,&nbsp;137, к.&nbsp;4, ;подъезд 3, оф.&nbsp;260 
					._item 
						a(href="tel:+79106044424") 
							i.icon-phone-call 
							span +7 910 604-44-24
					._item 
						a(href="mailto:studio@obninsk-gusli.ru") 
							i.icon-enve-mail 
							span studio@obninsk-gusli.ru 
	._community._container
		.community 
			._items 
				._title 
					span Media-Studio GROUP © 2024. 
					a(href="").community__link Privacy Policy.
						i.icon-angles-right-solid 
				._icons
					._icon 
						a(href="https://wa.me/79106044424" title="WhatsApp" target="blank").wa
							i.icon-whatsapp 
					._icon 
						a(href="https://vk.com/studio_gusli" title="VK" target="blank").wa
							i.icon-vk-brand 
					._icon 
						a(href="https://t.me/gusli_studio" title="TG" target="blank").wa 
							i.icon-telegram-fly
					._icon 
						a(href="https://youtube.com/@guslistudio6257?si=36fe20TYpLAJyB3m" title="youtube" target="blank").wa 
							i.icon-youtube-logo 