.header
	._container
		._content
			a(href="@@webRoot/index.html" alt="image")
				._column.el-logo
					._logo
						img(src="@@webRoot/img/icons/logo.png")
					._text
						span Media-Group
			._column
				._menu
					a(href="@@webRoot/index.html")._item._item--home
					._item
						a(href="@@webRoot/services.html")._link-key
							span Услуги
					._item
						a(href="@@webRoot/services/service-video.html")._link-key
							span Видео
					._item
						a(href="@@webRoot/about.html")._link-key
							span Компания
					._item
						a(href="@@webRoot/products.html")._link-key
							span Товары
					._item
						a(href="#contacts")._link-key.anchor-link 
							span Контакты
			._column.el-community
				a.el-community__phone(href="tel:++79106044424")
					i.icon-phone-ringing
					._content
						h5.el-community__title Связаться с нами
						span +7 910 604-44-24