.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/video/fotoram_bg_04.png" alt="image")
		._body.top-box
			._content._container
				h1._title Видеоклипы
				._description
					._row
						._row-col 
							p 
								+iconfont('clapper', '_icon')
								| Хотите оставить незабываемые впечатления от&nbsp;вашего праздника или&nbsp;мероприятия? Тогда обязательно сделайте себе и&nbsp;своим гостям подарок в&nbsp;виде профессионального видеоклипа! Наши опытные специалисты создадут для&nbsp;вас уникальное кинематографическое произведение, которое будет наполнено эмоциями и&nbsp;запомнится на&nbsp;долгие годы.
							p 
								| Благодаря современному оборудованию и&nbsp;креативному подходу к&nbsp;съемке, мы&nbsp;создаем клипы, которые будут удивлять и&nbsp;восхищать вас&nbsp;каждый раз, когда вы их&nbsp;смотрите. Будь то&nbsp;свадебная церемония, день рождения, корпоративное мероприятие или&nbsp;презентация продукта&nbsp;- мы найдем индивидуальный подход и&nbsp;подчеркнем важность каждого момента.
							p Не упустите возможность сохранить самые яркие моменты вашей жизни в виде прекрасного видеоклипа. Обратитесь к&nbsp;профессионалам в своем деле и наслаждайтесь просмотром вашего личного шедевра снова и&nbsp;снова!
							p 
								span Съёмка видеоклипа включает несколько этапов:
							ul 
								li 
									+iconfont('check', '_icon')
									| Обсуждение проекта. Нужно познакомиться с&nbsp;музыкальной композицией, подобрать референсные видео, обсудить бюджет и&nbsp;идею клипа. Затем подписать договор на&nbsp;съёмку и&nbsp;сроки сдачи проекта;
								li 
									+iconfont('check', '_icon')
									| Разработка сценария. В&nbsp;течение трёх дней пишут черновой сценарий, обсуждают и &nbsp;утверждают его. Затем подбирают локации для&nbsp;съёмки, реквизит для&nbsp;реализации сюжета, проводят кастинг и&nbsp;подбирают актёрский состав;
								li 
									+iconfont('check', '_icon')
									| Съёмка клипа. На&nbsp;съёмочной площадке выставляют профессиональное освещение, создают задуманную атмосферу клипа с&nbsp;помощью световых решений. Съёмку проводят строго по&nbsp;графику и&nbsp;раскадровки;
								li 
									+iconfont('check', '_icon')
									| Монтаж и&nbsp;цветокоррекция. В&nbsp;заключительный этап производства видеоклипа отбирают удачные дубли, собирают черновой монтаж, делают закрытый просмотр, обсуждают и&nbsp;утверждают монтаж, делают профессиональную цветокоррекцию.