.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/video/fotoram_bg_05.png" alt="image")
		._body.top-box
			._content._container
				h1._title Моушн<span> - </span>дизайн в&nbsp;2D&nbsp;и&nbsp;3D
				._description
					._row
						._row-col 
							p 
								span Ваш бренд хочет привлечь внимание и&nbsp;заставить людей задуматься? 
							p 
								+iconfont('hand-pointer', '_icon') 
								| 3D-анимация&nbsp;— это идеальное решение. Она создает детализированные, объемные и&nbsp;реалистичные изображения, позволяя зрителям рассмотреть объекты со&nbsp;всех сторон и&nbsp;оценить каждую деталь. 3D-анимация&nbsp;— это&nbsp;не&nbsp;просто красочный способ визуализации, но&nbsp;и&nbsp;мощный инструмент для&nbsp;продаж и&nbsp;обучения. С&nbsp;ее&nbsp;помощью вы сможете создавать увлекательные и&nbsp;запоминающиеся видеоролики, которые точно донесут ваше сообщение до&nbsp; аудитории.
							p 
								+iconfont('hand-pointer', '_icon') 
								| В то время как&nbsp;2D-анимация хорошо подходит для&nbsp;создания логотипов и&nbsp;других элементов фирменного стиля, 3D-анимация добавляет глубину и&nbsp;реализм вашим проектам. Это&nbsp;не&nbsp;просто стиль, это&nbsp;целый мир, который&nbsp;придает вашему бренду уникальность и&nbsp;целостность. Позвольте вашей компании выделиться среди конкурентов и&nbsp;завоевать сердца клиентов с&nbsp;помощью захватывающей 3D-анимации».
						._row-col 
							p 
								span Основные преимущества 3D-анимации:
							ul
								li
									+iconfont('check', '_icon') 
									p Детализированность и&nbsp;объемность изображений;
								li
									+iconfont('check', '_icon') 
									p Возможность рассмотреть объект со&nbsp;всех сторон; 
								li
									+iconfont('check', '_icon') 
									p Уникальная возможность продаж и&nbsp;обучения через&nbsp;визуальные материалы; 
								li
									+iconfont('check', '_icon') 
									p Создание увлекательных и&nbsp;запоминающихся видеороликов; 
								li
									+iconfont('check', '_icon') 
									p Добавление глубины и&nbsp;реализма проектам
								li
									+iconfont('check', '_icon') 
									p Помощь в&nbsp;выделении бренда среди конкурентов;
								li
									+iconfont('check', '_icon') 
									p Придание уникальности и&nbsp;целостности компании.