.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/video/fotoram_bg_06.png" alt="image")
		._body.top-box
			._content._container
				h1._title Презентационные ролики
				._description
					._row
						._row-col 
							p 
								+iconfont('hand-pointer', '_icon')
								| Яркий ролик заставит человека остановиться и&nbsp;сконцентрировать внимание на &nbsp;содержании.
							p 
								+iconfont('hand-pointer', '_icon')
								| В видео можно емко описать преимущества вашего торгового предложения и&nbsp;подтвердить их&nbsp;визуально.
							p 
								+iconfont('hand-pointer', '_icon')
								| Презентационный ролик о&nbsp;компании снижает расходы на &nbsp;проведение бизнес-встреч, ведь его&nbsp;можно демонстрировать без &nbsp;привлечения доп. сотрудников.