.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/video/fotoram_bg_07.png" alt="image")
		._body.top-box
			._content._container
				h1._title Кинопроизводство
				._description
					._row
						._row-col 
							p 
								+iconfont('camera-film', '_icon') 
								| Создание фильмов&nbsp;- это&nbsp;искусство, которое требует внимания к&nbsp;каждой детали и&nbsp;понимания структуры повествования. От&nbsp; должен служить цели и&nbsp;передавать задумку.
							p 
								+iconfont('camera-film', '_icon') 
								| Разнообразие жанров фильмов позволяет выбрать подходящий формат для&nbsp;любой цели. От&nbsp;корпоративных видео, которые подчеркивают профессионализм компании, до&nbsp; художественных шедевров, способных захватить воображение зрителя. Документальные фильмы раскрывают реальность, а&nbsp;анимационные приглашают в&nbsp;мир фантазии. Научно-популярные и&nbsp;обучающие фильмы помогают расширить знания и&nbsp;обогатить опыт.
							p 
								+iconfont('camera-film', '_icon') 
								| В современном мире также важны презентационные и&nbsp; имиджевые фильмы, которые формируют впечатление о&nbsp; бренде или&nbsp; продукте. Рекламные видеоролики привлекают внимание потенциальных клиентов, а&nbsp;видеофильмы для&nbsp;семейного архива хранят важные моменты нашей жизни.
						._row-col
							h2 Основные преимущества разнообразия жанров и&nbsp;типов фильмов
							ul 
								li 
									+iconfont('check', '_icon') 
									p Возможность выбора подходящего формата для&nbsp;любой цели
								li 
									+iconfont('check', '_icon') 
									p Уникальность каждого жанра и&nbsp;его специфика
								li 
									+iconfont('check', '_icon') 
									p Создание эмоциональной связи и&nbsp;передача информации через&nbsp;разные жанры
								li 
									+iconfont('check', '_icon') 
									p Важность формирования имиджа компании или&nbsp;продукта через&nbsp;видеоматериалы
								li 
									+iconfont('check', '_icon') 
									p Способность привлечь внимание и&nbsp;удержать интерес зрителей различных возрастов и&nbsp;интересов
	._column 
		._body 
			._content._container 
				._description
					._row
						._row-col
							h3 Цены:
							ul 
								li 
									+iconfont('check', '_icon')
									p Рекламный ролик до&nbsp;30 секунд&nbsp;- 
										span от&nbsp;70&nbsp;000&nbsp;рублей 
										| &ensp;за&nbsp;1&nbsp; съёмочный день (10&nbsp;часов);
								li 
									+iconfont('check', '_icon')
									p Рекламный ролик до 1 минуты&nbsp;- 
										span от&nbsp;120&nbsp;000&nbsp;рублей 
										| &ensp;за&nbsp;2&nbsp;съёмочных дня;
							ul 
								li 
									+iconfont('check', '_icon')
									p Корпоративный фильм до&nbsp;3&nbsp;минут&nbsp;— 
									span от&nbsp;100&nbsp;000&nbsp;рублей 
									| &ensp;за&nbsp;1&nbsp;съёмочный день (10&nbsp;часов);
								li 
									+iconfont('check', '_icon')
									p Корпоративный фильм до&nbsp;5 минут&nbsp;- 
										span от&nbsp;150&nbsp;000&nbsp;рублей 
										| &ensp;за&nbsp;2 съёмочных дня.
							h3 Примеры стоимости съемки:
							ul 
								li 
									+iconfont('check', '_icon')
									p Съемка короткометражного фильма (1-2&nbsp;дня)&nbsp;- 
										span от&nbsp;100&nbsp;000&nbsp;рублей
										| &ensp;и&nbsp;выше;
								li 
									+iconfont('check', '_icon')
									p Съемка интервью (полдня)&nbsp;- 
										span от&nbsp;15&nbsp;000&nbsp;рублей;
								li 
									+iconfont('check', '_icon')
									p Съемка рекламного ролика (1&nbsp;день)&nbsp;- 
										span от&nbsp;50&nbsp;000&nbsp;рублей;
							h3 Примеры стоимости монтажа:
							ul 
								li 
									+iconfont('check', '_icon')
									p Монтаж короткого видеоролика (1-2&nbsp;минуты)&nbsp;- 
										span от&nbsp;10&nbsp;000&nbsp;рублей; 
								li 
									+iconfont('check', '_icon')
									p Монтаж длинного видео (более&nbsp;10&nbsp;минут)- 
										span от&nbsp;30&nbsp;000&nbsp;рублей;
								li 
									+iconfont('check', '_icon')
									p Монтаж видео с&nbsp;сложной анимацией и&nbsp; спецэффектами- цена обсуждается индивидуально и&nbsp;может быть значительно выше.
					p._ps Важно помнить, что&nbsp;эти цены являются лишь ориентировочными и&nbsp;могут изменяться в&nbsp;зависимости от&nbsp;региона, специфики проекта и&nbsp; условий сотрудничества. Перед началом работы с&nbsp;фотографом или&nbsp;видеографом рекомендуется провести предваритель чтобы&nbsp;получить точную оценку стоимости.
					p._ps Съемка и&nbsp;монтаж видео&nbsp;– это&nbsp;сложные и&nbsp;многогранные процессы, и&nbsp;стоимость этих&nbsp;услуг может значительно различаться. Важно выбрать квалифицированных специалистов, учесть все&nbsp;детали проекта и&nbsp;бюджет, чтобы&nbsp;получить высококачественный видеоконтент, который соответствует вашим ожиданиям.

