.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/video/fotoram_bg_02.png" alt="image")
		._body.top-box
			._content._container
				h1._title Репортаж с выездом
				._description
					._row
						._row-col
							p 
								+iconfont('hand-pointer', '_icon') 
								| Хотите оставить яркие и &nbsp;эмоциональные воспоминания о&nbsp;важном событии? Тогда&nbsp;репортажная съемка&nbsp;- идеальный способ сделать это! Наши профессиональные фотографы помогут вам запечатлеть каждую деталь и&nbsp;эмоцию момента, чтобы&nbsp;вы могли вернуться к&nbsp;ним снова и&nbsp;снова.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Репортажная съемка позволяет передать атмосферу и&nbsp;настроение события в&nbsp;полной мере. Мы умеем уловить момент и&nbsp;сделать уникальные кадры, которые будут радовать вас и&nbsp;ваших близких на&nbsp;протяжении многих лет.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Не упустите возможность сохранить важные моменты своей жизни с&nbsp;помощью профессиональной репортажной съемки. Обратитесь к&nbsp;нам, и&nbsp;мы поможем вам создать незабываемые воспоминания, которые будут цениться вами и&nbsp;вашими близкими всегда.