.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/video/fotoram_bg_08.png" alt="image")
		._body.top-box
			._content._container
				h1._title Видеомонтаж
				._description
					._row
						._row-col
							h2 Что такое видеомонтаж?
							p 
								span Видеомонтаж
								|  - это&nbsp;процесс обработки видеоматериала, в&nbsp;результате которого получается единое и&nbsp;цельное произведение: фильм, видеоролик, телепередача, музыкальный клип или&nbsp;рекламный ролик. Монтаж в&nbsp;кино&nbsp;- и&nbsp;видеопроизводстве не&nbsp;менее важен, чем&nbsp;сам съемочный процесс. Благодаря монтажу можно задать нужную атмосферу и&nbsp;ритм повествования. Плохой монтаж может испортить и&nbsp;перечеркнуть всю&nbsp;проделанную работу, а&nbsp;качественный монтаж, наоборот, может спасти, казалось&nbsp;бы, безнадёжный исходный материал.
							h2 Зачем нужен видеомонтаж?
							p
								+iconfont('camera-film', '_icon')
								| Сохранение единства времени, действия и&nbsp;пространства&nbsp;- благодаря этому зритель верит, что&nbsp;происходящее на&nbsp;экране, действительно существует.
							p
								+iconfont('camera-film', '_icon')
								| Создание и&nbsp;поддержание ритма повествования. Речь не&nbsp;только о&nbsp;музыкальных клипах и&nbsp;рекламе, где&nbsp;действие происходит под &nbsp;музыку. В&nbsp;кино тоже&nbsp;важно следить за&nbsp;тем, чтобы&nbsp;посреди экшен-сцены не&nbsp;было длинного кадра, на&nbsp;котором ничего не&nbsp;происходит.
							p
								+iconfont('camera-film', '_icon')
								| Создание и поддержание комфортного восприятия информации. Или&nbsp;дискомфортного, если&nbsp;цель видео&nbsp;- эпатировать зрителя.
							p
								+iconfont('camera-film', '_icon')
								| Передача эмоций.
							p
								+iconfont('camera-film', '_icon')
								| Создание и&nbsp;поддержание напряжения.
						._row-col
							h2 Виды видеомонтажа
							p 
								span Линейный монтаж: 
								| это&nbsp;классический и&nbsp;наиболее распространенный вид монтажа. Он&nbsp;предполагает последовательное соединение сцен и&nbsp;кадров, Этот&nbsp;тип монтажа наиболее подходит для&nbsp;повествовательных фильмов и&nbsp;видеороликов
							p 
								span Монтаж по совпадению: 
								| основан на&nbsp;создании визуальных и &nbsp;звуковых ассоциаций между разными кадрами или элементами. Это&nbsp;может быть использовано для&nbsp;подчеркивания темы, символики или&nbsp;эмоций
							p 
								span Параллельный монтаж: 
								| монтаж по&nbsp;сериям предполагает объединение кадров в&nbsp;логические группы или&nbsp;серии. Это&nbsp;может быть полезно для&nbsp;упорядочивания информации или&nbsp;создания переходов между сценами.
							p 
								span Смешанный монтаж: 
								| смешанный монтаж объединяет разные виды монтажа, чтобы&nbsp;создать уникальное визуальное восприятие. Режиссеры могут использовать этот&nbsp;подход, чтобы&nbsp;выразить свой индивидуальный стиль и&nbsp;подчеркнуть важные моменты в&nbsp;истории.
							p 
								span Монтаж с&nbsp;использованием временной линии: 
								| динамический монтаж использует быстрые смены кадров и&nbsp;динамичную редакцию, чтобы создать чувство напряжения и&nbsp;действия. Этот &nbsp;стиль часто применяется в&nbsp;экшн-фильмах и&nbsp;видеороликах
							p 
								span Монтаж на&nbsp;музыку: 
								| монтаж на&nbsp;музыку синхронизирует кадры с&nbsp;ритмом и&nbsp;музыкальным сопровождением. Это&nbsp;создает эмоциональное и&nbsp;визуальное воздействие и&nbsp;может быть&nbsp;особенно эффективным в&nbsp;музыкальных видеороликах и&nbsp;концертных фильмах
							p 
								span Интерактивный монтаж: 
								| интерактивный монтаж используется в&nbsp;видеоиграх и&nbsp;виртуальной реальности, где&nbsp;зритель может взаимодействовать с&nbsp;сюжетом и&nbsp;влиять на&nbsp;развитие истории
							p 
								span Монтаж в&nbsp;документальных фильмах: 
								| может&nbsp;быть использован для&nbsp;создания ритма, подчеркивания ключевых моментов и&nbsp;передачи информации
