.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/events/fotoram_bg_05.png" alt="image")
		._body.top-box
			._content._container
				h1._title Аренда оборудования
				._description
					._row
						._row-col
							p 
								+iconfont('hand-pointer', '_icon') 
								| Превратите ваше мероприятие в&nbsp;незабываемое событие с&nbsp;помощью аренды оборудования! Мы&nbsp;предлагаем широкий выбор профессионального звукового, светового и&nbsp;видеооборудования, а&nbsp;также мебель и&nbsp;декор, чтобы&nbsp;сделать ваше&nbsp;мероприятие стильным и&nbsp;запоминающимся.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Наше оборудование отличается высоким качеством и&nbsp;надежностью, что&nbsp;гарантирует безупречную работу во&nbsp;время мероприятия. Мы&nbsp;также предоставляем консультации и&nbsp;помощь в&nbsp;выборе оборудования, чтобы&nbsp;ваше мероприятие соответствовало всем&nbsp;вашим ожиданиям.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Неважно, проводите&nbsp;ли вы свадьбу, корпоративное мероприятие, концерт или&nbsp;выставку&nbsp;- мы&nbsp;поможем создать атмосферу, которая запомнится вашим гостям надолго. Сделайте ваше мероприятие ярким и&nbsp;профессиональным с&nbsp;помощью аренды оборудования от&nbsp;нашей компании!
							._ps Предлагаем услуги проката звукового и&nbsp;светового оборудования высшего качества по&nbsp;самым выгодным ценам.
				._button._open-button
					button(type="button").order-button.btn-grad 
						span оставить заявку 