.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/events/fotoram_bg_03.png" alt="image")
		._body.top-box
			._content._container
				h1._title Диджеи
				._description
					._row
						._row-col
							p 
								span Диджей</span>&nbsp;- 
								| неотъемлемая часть мероприятия, который&nbsp;может задать атмосферу праздника и&nbsp;веселья правильным подбором музыкального плейлиста. Подходящие для&nbsp;торжества композиции добавят изысканности и&nbsp;зарядят публику позитивной энергией.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Мы предлагаем услуги диджея как&nbsp;индивидуально, так&nbsp;и&nbsp;в&nbsp;паре с&nbsp;профессиональным ведущим для&nbsp;создания максимально яркого вечера.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Наши диджеи - это&nbsp;опытные музыканты, которые&nbsp;умеют создавать уникальную атмосферу на&nbsp;любом празднике. Они&nbsp;подберут музыку, которая подойдет именно вашему событию и&nbsp;создаст незабываемую атмосферу.
				._button._open-button
					button(type="button").order-button.btn-grad 
						span оставить заявку 
	._column 
		._body 
			._content._container
				._description
					._row
						._row-col
							h3 Услуги диджея на любой праздник
							ul
								li 
									+iconfont('check', '_icon') 
									| свадьба
								li 
									+iconfont('check', '_icon') 
									| юбилей
								li 
									+iconfont('check', '_icon') 
									| выпускной
								li 
									+iconfont('check', '_icon') 
									| корпоративы
								li 
									+iconfont('check', '_icon') 
									| дни рождения 
								li 
									+iconfont('check', '_icon') 
									| детский праздник
								li 
									+iconfont('check', '_icon') 
									| тематическая вечеринка
						._row-col
							h3 Цены:
							ul 
								li 
									+iconfont('check', '_icon')
									| Стоимость 1&nbsp;часа:&nbsp; 
									span от&nbsp;3000&nbsp;руб;
								li 
									+iconfont('check', '_icon')
									| Минимальный заказ:&nbsp;
									span 4&nbsp;часа;
								li 
									+iconfont('check', '_icon')
									| Стоимость:&nbsp; 
									span от&nbsp;12&nbsp;000&nbsp;руб