.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/events/fotoram_bg_01.png" alt="image")
		._body.top-box
			._content._container
				h1._title Детские праздники
				._description
					._row
						._row-col
							p 
								+iconfont('hand-pointer', '_icon') 
								| Добро пожаловать в&nbsp;мир веселья и&nbsp;радости! Мы предлагаем вам уникальную программу для&nbsp;аниматоров праздников, которая поможет вам создать незабываемую атмосферу на&nbsp;любом мероприятии. С&nbsp;нашими профессиональными инструментами вы сможете легко организовать и&nbsp;провести увлекательные игры, конкурсы, шоу-программы и&nbsp;мастер-классы, которые сделают ваш праздник еще&nbsp;более ярким и&nbsp;запоминающимся.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Наша программа предлагает широкий выбор тематических сценариев, персонажей и&nbsp;активностей, чтобы&nbsp;каждый момент праздника был&nbsp;особенным. Вы сможете легко настроить программу под&nbsp;конкретные потребности и&nbsp;пожелания вашей аудитории, чтобы &nbsp;каждый гость почувствовал себя особенным и&nbsp;уникальным.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Доверьтесь нам и&nbsp;позвольте профессионалам сделать каждое ваше мероприятие особенным и&nbsp;уникальным. Мы гарантируем, что&nbsp;с&nbsp;нашей помощью каждый момент праздника станет незабываемым и&nbsp;оставит яркие воспоминания для&nbsp;вас и&nbsp;ваших гостей.
					h2 Предлагаемые программы
					._row
						._row-col
							h3 Гигантские мыльные пузыри
							p
								+iconfont('hand-pointer', '_icon') 
								| Наши пузыри отличаются тем, что&nbsp;мы не&nbsp;только показываем их, но и&nbsp;предлагаем всем желающим создать самый большой мыльный пузырь самостоятельно. Не&nbsp;только дети, но&nbsp;и&nbsp;взрослые получают огромное удовольствие!
							h3 Аквагрим
							p
								+iconfont('hand-pointer', '_icon') 
								| Все желающие смогут перевоплотиться в&nbsp;любимого персонажа или&nbsp;весёлую зверюшку.
							h3 Твистинг. Фигурки из шариков
							p 
								+iconfont('hand-pointer', '_icon') 
								| Детям очень нравятся воздушные шарики, а&nbsp;когда их много, то&nbsp;это ещё лучше! Маленькие и&nbsp;большие фигуры, головные уборы, множество игр и&nbsp;конкурсов с&nbsp;шариками&nbsp;- все это&nbsp;вызывает восторг у&nbsp;детей
							h3 Дополнительные услуги
							ul 
								li 
									+iconfont('check', '_icon') 
									| видеооператор
								li  
									+iconfont('check', '_icon') 
									| диджей + световик 
						._row-col
							h3 Дед Мороз и Снегурочка
							p
								+iconfont('hand-pointer', '_icon') 
								| Любимые новогодние персонажи детей и&nbsp;взрослых знают, как&nbsp;встретить Новый год, чтобы он&nbsp;принёс радость и&nbsp;счастье.
							p
								+iconfont('hand-pointer', '_icon') 
								| Выпускной в школе. Утренник в детском саду.
							p
								+iconfont('hand-pointer', '_icon') 
								| Отмечать важные события и&nbsp;проводить время в&nbsp;компании своих одноклассников – это&nbsp; здорово! Мы организуем праздники для&nbsp;классов в&nbsp;школах, кафе и&nbsp;на&nbsp;природе. А&nbsp;также проводим мероприятия в&nbsp;детских садах. Стоимость зависит от&nbsp;многих факторов, таких как&nbsp;количество детей, место проведения праздника и&nbsp;дополнительные услуги. В&nbsp;процессе консультации мы расскажем вам все&nbsp;подробности и&nbsp;предложим оптимальный вариант.
	._column
		._body
			._content._container
				._description
					._row
						._row-col
							h3 Один аниматор - от&nbsp;5000&nbsp;руб./час
							ul 
								li 
									+iconfont('check', '_icon') 
									| Отличный вариант для&nbsp;праздника до&nbsp;10 детей.
								li 
									+iconfont('check', '_icon') 
									| Любой персонаж на&nbsp;выбор.
								li 
									+iconfont('check', '_icon') 
									| Музыкальное сопровождение.
								li 
									+iconfont('check', '_icon') 
									| Интересный игровой сценарий.
								li 
									+iconfont('check', '_icon') 
									| Весёлые игры и&nbsp;конкурсы.
						._row-col
							h3 Два аниматора&nbsp;- от&nbsp;9000&nbsp;руб./час
							ul 
								li 
									+iconfont('check', '_icon') 
									| Лучший вариант для&nbsp;любого праздника.
								li 
									+iconfont('check', '_icon') 
									| Любые персонажи на&nbsp;выбор
								li 
									+iconfont('check', '_icon') 
									| Музыкальное сопровождение
								li 
									+iconfont('check', '_icon') 
									| Интересный игровой сценарий
								li 
									+iconfont('check', '_icon') 
									| Весёлые игры и&nbsp;конкурсы
					._ps При заказе двух аниматоров на&nbsp;1,5&nbsp;часа и&nbsp;дольше дополнительная услуга в&nbsp;ПОДАРОК!
				._button._open-button
					button(type="button").order-button.btn-grad 
						span оставить заявку 
