.service-description
	._column
		.material-parallax.parallax
			.parallax__image
				img(src="@@webRoot/img/parallax/events/fotoram_bg_02.png" alt="image")
		._body.top-box
			._content._container
				h1._title Ведущие
				._description
					._row
						._row-col
							p 
								+iconfont('hand-pointer', '_icon') 
								| Если вы ищете профессионального ведущего для&nbsp;своего мероприятия, мы&nbsp;предлагаем вам услуги опытных и&nbsp;талантливых специалистов, которые помогут сделать ваше событие незабываемым и&nbsp;успешным.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Наши ведущие обладают богатым опытом работы на &nbsp;различных мероприятиях: корпоративах, свадьбах, юбилеях, конференциях и&nbsp;презентациях. Они&nbsp;смогут создать атмосферу, соответствующую вашим ожиданиям, и&nbsp;сделать ваше мероприятие уникальным.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Доверьтесь нам и&nbsp;позвольте профессионалам сделать каждое ваше мероприятие особенным и&nbsp;уникальным. Мы гарантируем, что&nbsp;с&nbsp;нашей помощью каждый момент праздника станет незабываемым и&nbsp;оставит яркие воспоминания для&nbsp;вас и&nbsp;ваших гостей.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Наши ведущие&nbsp;- это&nbsp;профессионалы своего дела, которые&nbsp;обладают навыками ораторского искусства, отличным чувством юмора и&nbsp;умением работать с&nbsp;публикой. 	Они&nbsp;смогут поддержать интерес участников, создать приятную атмосферу и&nbsp;добавить ярких моментов в&nbsp;ваше мероприятие.
							p 
								+iconfont('hand-pointer', '_icon') 
								| Не упустите возможность сделать ваше&nbsp;событие 	незабываемым! Свяжитесь с&nbsp;нами прямо сейчас, чтобы&nbsp;узнать больше о&nbsp;наших услугах и&nbsp;выбрать ведущего, который идеально подойдет для&nbsp;вашего мероприятия.
				._button._open-button
					button(type="button").order-button.btn-grad 
						span оставить заявку 